venv/
__pycache__/
backend/models/
*.pyc
.env
test/
backend/analyze_logits.py
backend/inspect_onnx.py
backend/run_tests.py
backend/test_w2v2_onnx.py
backend/__pycache__
backend/dbmodels/__pycache__
backend/routes/__pycache__
backend/service/__pycache__
backend/database/__pycache__
